* {
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color:rgb(100, 3, 3)
}

body {
    background-image: linear-gradient(to bottom right, rgb(241, 83, 83), rgb(238, 159, 48));
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}


.button {
    background-color: orange;
    margin: 10px;
    padding: 10px;

}

#buttonContainer {
    margin-top: 120px;
    margin-bottom: 100px;
}

img {
    margin-top: 80px;
    margin-bottom: 50px;
    width:50%;
    height:50%;
    border-radius: 10%;
    opacity: 0,5;
}

.jokeline {
    text-decoration: none;
    font-size: 20px;
    font-style: oblique;

}